In [5]:
from flask import Flask, render_template, request, redirect
import requests
import simplejson
import os
import re
import pandas as pd
from bokeh.embed import components
from bokeh.plotting import figure

In [7]:
url = "https://www.quandl.com/api/v3/datasets/WIKI/"
ftype = ".csv"
apikey = {'api_key':'Xs8jwnLUvyXSEUzXVYz5'}

In [9]:
r = requests.get(url+'googl'+ftype,apikey)

In [39]:
a = pd.read_csv(r.url,index_col='Date',usecols = ['Date','Adj. Open', 'Adj. Close'])[::-1]

In [16]:
r.url

u'https://www.quandl.com/api/v3/datasets/WIKI/googl.csv?api_key=Xs8jwnLUvyXSEUzXVYz5'

In [41]:
a.index = pd.to_datetime(a.index)

In [42]:
a

            Adj. Open  Adj. Close
Date
2004-08-19     50.000      50.170
2004-08-20     50.505      54.155
2004-08-23     55.375      54.700
2004-08-24     55.620      52.435
2004-08-25     52.480      53.000
2004-08-26     52.475      53.955
2004-08-27     54.050      53.075
2004-08-30     52.640      51.005
2004-08-31     51.150      51.185
2004-09-01     51.350      50.125
2004-09-02     49.595      50.755
2004-09-03     50.475      50.005
2004-09-07     50.505      50.790
2004-09-08     50.370      51.150
2004-09-09     51.265      51.155
2004-09-10     50.800      52.665
2004-09-13     53.315      53.750
2004-09-14     53.725      55.745
2004-09-15     55.280      56.000
2004-09-16     56.170      56.985
2004-09-17     57.210      58.745
2004-09-20     58.475      59.680
2004-09-21     59.905      58.920
2004-09-22     58.700      59.190
2004-09-23     59.420      60.410
2004-09-24     60.470      59.915
2004-09-27     59.780      59.130
2004-09-28     60.650      63.430
2004-09-29     63.350      65.540
2004-09-30     64.950      64.800
...               ...         ...
2016-04-18    780.190     787.680
2016-04-19    790.500     776.250
2016-04-20    779.160     774.920
2016-04-21    777.310     780.000
2016-04-22    743.910     737.420
2016-04-25    735.350     742.210
2016-04-26    744.420     725.370
2016-04-27    725.320     721.460
2016-04-28    723.290     705.060
2016-04-29    704.120     707.880
2016-05-02    711.920     714.410
2016-05-03    712.500     708.390
2016-05-04    706.770     711.370
2016-05-05    715.000     714.710
2016-05-06    712.200     725.180
2016-05-09    726.700     729.130
2016-05-10    734.960     739.380
2016-05-11    740.520     730.550
2016-05-12    732.000     728.070
2016-05-13    726.620     724.830
2016-05-16    724.320     730.300
2016-05-17    731.060     720.190
2016-05-18    718.500     721.780
2016-05-19    718.300     715.310
2016-05-20    716.460     721.710
2016-05-23    719.980     717.240
2016-05-24    719.850     733.030
2016-05-25    735.000     738.100
2016-05-26    736.000     736.930
2016-05-27    737.510     747.600

[2953 rows x 2 columns]

In [43]:
test = 'abcdef'
test.strip()

'abcdef'

In [46]:
test.strip()

'abcdef'

In [47]:
re.split(r"\W+" , "a, b, c, d, e")

['a', 'b', 'c', 'd', 'e']

In [48]:
'a'.upper()

'A'

In [49]:
r

In [50]:
pd.read_csv(r.url)

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2016-05-27,737.51,747.9100,737.0100,747.60,1720366.0,0.0,1.0,737.510,747.9100,737.0100,747.600,1720366.0
1,2016-05-26,736.00,741.1000,733.0000,736.93,1283896.0,0.0,1.0,736.000,741.1000,733.0000,736.930,1283896.0
2,2016-05-25,735.00,739.8900,732.6000,738.10,1606551.0,0.0,1.0,735.000,739.8900,732.6000,738.100,1606551.0
3,2016-05-24,719.85,734.2000,719.6450,733.03,1879157.0,0.0,1.0,719.850,734.2000,719.6450,733.030,1879157.0
4,2016-05-23,719.98,723.4999,716.9400,717.24,1228165.0,0.0,1.0,719.980,723.4999,716.9400,717.240,1228165.0
5,2016-05-20,716.46,727.7000,715.0100,721.71,1710030.0,0.0,1.0,716.460,727.7000,715.0100,721.710,1710030.0
6,2016-05-19,718.30,720.5000,710.3050,715.31,1488030.0,0.0,1.0,718.300,720.5000,710.3050,715.310,1488030.0
7,2016-05-18,718.50,725.5700,715.0200,721.78,1607604.0,0.0,1.0,718.500,725.5700,715.0200,721.780,1607604.0
8,2016-05-17,731.06,735.8500,718.0000,720.19,1631175.0,0.0,1.0,731.060,735.8500,718.0000,720.190,1631175.0
9,2016-05-16,724.32,732.6800,720.0000,730.30,1106682.0,0.0,1.0,724.320,732.6800,720.0000,730.300,1106682.0
10,2016-05-13,726.62,731.2900,723.5100,724.83,1224427.0,0.0,1.0,726.620,731.2900,723.5100,724.830,1224427.0
11,2016-05-12,732.00,735.3700,724.2700,728.07,1341580.0,0.0,1.0,732.000,735.3700,724.2700,728.070,1341580.0
12,2016-05-11,740.52,740.8000,727.9025,730.55,1468288.0,0.0,1.0,740.520,740.8000,727.9025,730.550,1468288.0
13,2016-05-10,734.96,740.0000,731.6100,739.38,1609973.0,0.0,1.0,734.960,740.0000,731.6100,739.380,1609973.0
14,2016-05-09,726.70,734.2900,723.5000,729.13,1884648.0,0.0,1.0,726.700,734.2900,723.5000,729.130,1884648.0
15,2016-05-06,712.20,725.9900,711.9500,725.18,1970535.0,0.0,1.0,712.200,725.9900,711.9500,725.180,1970535.0
16,2016-05-05,715.00,717.5500,709.4501,714.71,1457727.0,0.0,1.0,715.000,717.5500,709.4501,714.710,1457727.0
17,2016-05-04,706.77,715.0500,704.0500,711.37,1590222.0,0.0,1.0,706.770,715.0500,704.0500,711.370,1590222.0
18,2016-05-03,712.50,713.3700,707.3300,708.39,1918604.0,0.0,1.0,712.500,713.3700,707.3300,708.390,1918604.0
19,2016-05-02,711.92,715.4100,706.3600,714.41,1663128.0,0.0,1.0,711.920,715.4100,706.3600,714.410,1663128.0
20,2016-04-29,704.12,712.1100,703.7800,707.88,2880928.0,0.0,1.0,704.120,712.1100,703.7800,707.880,2880928.0
21,2016-04-28,723.29,729.2600,703.2000,705.06,3061610.0,0.0,1.0,723.290,729.2600,703.2000,705.060,3061610.0
22,2016-04-27,725.32,727.1500,709.0800,721.46,3313137.0,0.0,1.0,725.320,727.1500,709.0800,721.460,3313137.0
23,2016-04-26,744.42,745.5900,720.3200,725.37,2741580.0,0.0,1.0,744.420,745.5900,720.3200,725.370,2741580.0
24,2016-04-25,735.35,744.8800,735.1000,742.21,2450816.0,0.0,1.0,735.350,744.8800,735.1000,742.210,2450816.0
25,2016-04-22,743.91,753.9200,730.3700,737.42,6961107.0,0.0,1.0,743.910,753.9200,730.3700,737.420,6961107.0
26,2016-04-21,777.31,781.6799,771.5500,780.00,2643733.0,0.0,1.0,777.310,781.6799,771.5500,780.000,2643733.0
27,2016-04-20,779.16,779.6600,771.2700,774.92,1694985.0,0.0,1.0,779.160,779.6600,771.2700,774.920,1694985.0
28,2016-04-19,790.50,790.9500,770.2700,776.25,2174203.0,0.0,1.0,790.500,790.9500,770.2700,776.250,2174203.0
29,2016-04-18,780.19,788.5500,777.6100,787.68,1635290.0,0.0,1.0,780.190,788.5500,777.6100,787.680,1635290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,2004-09-30,129.90,132.3000,129.0000,129.60,13758000.0,0.0,1.0,64.950,66.1500,64.5000,64.800,13758000.0
2924,2004-09-29,126.70,135.0200,126.2300,131.08,30516400.0,0.0,1.0,63.350,67.5100,63.1150,65.540,30516400.0
2925,2004-09-28,121.30,127.4000,120.2100,126.86,16929000.0,0.0,1.0,60.650,63.7000,60.1050,63.430,16929000.0
2926,2004-09-27,119.56,120.8800,117.8000,118.26,7066100.0,0.0,1.0,59.780,60.4400,58.9000,59.130,7066100.0
2927,2004-09-24,120.94,124.1000,119.7600,119.83,9123400.0,0.0,1.0,60.470,62.0500,59.8800,59.915,9123400.0
2928,2004-09-23,118.84,122.6300,117.0200,120.82,8535600.0,0.0,1.0,59.420,61.3150,58.5100,60.410,8535600.0
2929,2004-09-22,117.40,119.6700,116.8100,118.38,7581200.0,0.0,1.0,58.700,59.8350,58.4050,59.190,7581200.0
2930,2004-09-21,119.81,120.4200,117.5100,117.84,7228700.0,0.0,1.0,59.905,60.2100,58.7550,58.920,7228700.0
2931,2004-09-20,116.95,121.6000,116.7700,119.36,10628700.0,0.0,1.0,58.475,60.8000,58.3850,59.680,10628700.0
2932,2004-09-17,114.42,117.4900,113.5500,117.49,9472500.0,0.0,1.0,57.210,58.7450,56.7750,58.745,9472500.0
2933,2004-09-16,112.34,115.8000,111.6500,113.97,9266300.0,0.0,1.0,56.170,57.9000,55.8250,56.985,9266300.0
2934,2004-09-15,110.56,114.2300,110.2000,112.00,10713000.0,0.0,1.0,55.280,57.1150,55.1000,56.000,10713000.0
2935,2004-09-14,107.45,112.0000,106.7900,111.49,10828900.0,0.0,1.0,53.725,56.0000,53.3950,55.745,10828900.0
2936,2004-09-13,106.63,108.4100,106.4600,107.50,7844100.0,0.0,1.0,53.315,54.2050,53.2300,53.750,7844100.0
2937,2004-09-10,101.60,106.5600,101.3000,105.33,8698800.0,0.0,1.0,50.800,53.2800,50.6500,52.665,8698800.0
2938,2004-09-09,102.53,102.7100,101.0000,102.31,4061700.0,0.0,1.0,51.265,51.3550,50.5000,51.155,4061700.0
2939,2004-09-08,100.74,103.0300,100.5000,102.30,4985600.0,0.0,1.0,50.370,51.5150,50.2500,51.150,4985600.0
2940,2004-09-07,101.01,102.0000,99.6100,101.58,5847500.0,0.0,1.0,50.505,51.0000,49.8050,50.790,5847500.0
2941,2004-09-03,100.95,101.7400,99.3200,100.01,5152400.0,0.0,1.0,50.475,50.8700,49.6600,50.005,5152400.0
2942,2004-09-02,99.19,102.3700,98.9400,101.51,15118600.0,0.0,1.0,49.595,51.1850,49.4700,50.755,15118600.0
2943,2004-09-01,102.70,102.9700,99.6700,100.25,9138200.0,0.0,1.0,51.350,51.4850,49.8350,50.125,9138200.0
2944,2004-08-31,102.30,103.7100,102.1600,102.37,4917800.0,0.0,1.0,51.150,51.8550,51.0800,51.185,4917800.0
2945,2004-08-30,105.28,105.4900,102.0100,102.01,5196700.0,0.0,1.0,52.640,52.7450,51.0050,51.005,5196700.0
2946,2004-08-27,108.10,108.6200,105.6900,106.15,6211700.0,0.0,1.0,54.050,54.3100,52.8450,53.075,6211700.0
2947,2004-08-26,104.95,107.9500,104.6600,107.91,7094800.0,0.0,1.0,52.475,53.9750,52.3300,53.955,7094800.0
2948,2004-08-25,104.96,108.0000,103.8800,106.00,9188600.0,0.0,1.0,52.480,54.0000,51.9400,53.000,9188600.0
2949,2004-08-24,111.24,111.6000,103.5700,104.87,15247300.0,0.0,1.0,55.620,55.8000,51.7850,52.435,15247300.0
2950,2004-08-23,110.75,113.4800,109.0500,109.40,18256100.0,0.0,1.0,55.375,56.7400,54.5250,54.700,18256100.0
2951,2004-08-20,101.01,109.0800,100.5000,108.31,22834300.0,0.0,1.0,50.505,54.5400,50.2500,54.155,22834300.0
2952,2004-08-19,100.00,104.0600,95.9600,100.34,44659000.0,0.0,1.0,50.000,52.0300,47.9800,50.170,44659000.0

In [52]:
['Date', 'Close'] 
pd.read_csv('https://www.quandl.com/api/v3/datasets/WIKI/GOOGL.csv?api_key=Xs8jwnLUvyXSEUzXVYz5'
            ,index_col='Date',usecols = ['Date', 'Close'] )[::-1]

             Close
Date
2004-08-19  100.34
2004-08-20  108.31
2004-08-23  109.40
2004-08-24  104.87
2004-08-25  106.00
2004-08-26  107.91
2004-08-27  106.15
2004-08-30  102.01
2004-08-31  102.37
2004-09-01  100.25
2004-09-02  101.51
2004-09-03  100.01
2004-09-07  101.58
2004-09-08  102.30
2004-09-09  102.31
2004-09-10  105.33
2004-09-13  107.50
2004-09-14  111.49
2004-09-15  112.00
2004-09-16  113.97
2004-09-17  117.49
2004-09-20  119.36
2004-09-21  117.84
2004-09-22  118.38
2004-09-23  120.82
2004-09-24  119.83
2004-09-27  118.26
2004-09-28  126.86
2004-09-29  131.08
2004-09-30  129.60
...            ...
2016-04-18  787.68
2016-04-19  776.25
2016-04-20  774.92
2016-04-21  780.00
2016-04-22  737.42
2016-04-25  742.21
2016-04-26  725.37
2016-04-27  721.46
2016-04-28  705.06
2016-04-29  707.88
2016-05-02  714.41
2016-05-03  708.39
2016-05-04  711.37
2016-05-05  714.71
2016-05-06  725.18
2016-05-09  729.13
2016-05-10  739.38
2016-05-11  730.55
2016-05-12  728.07
2016-05-13  724.83
2016-05-16  730.30
2016-05-17  720.19
2016-05-18  721.78
2016-05-19  715.31
2016-05-20  721.71
2016-05-23  717.24
2016-05-24  733.03
2016-05-25  738.10
2016-05-26  736.93
2016-05-27  747.60

[2953 rows x 1 columns]